* {
    margin: 0;
}

header {
    background-color: #007bff;
    color: black;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    position: static;
    margin-bottom: 10px;
}

#input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 0 0 0 10px;
    width: 90%;
}

.submit {
    padding: 10px;
    background-color: #007bff;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 0 0 10px 0;
}

.chat-input {
    display: flex;
    border-top: 1px solid #ccc;
    width: 100%;
}

#messages {
    background-color: #007bff;
    color: black;
    padding: 8px 12px;
    border-radius: 15px;
    margin-bottom: 10px;
    width: fit-content;
    list-style-type: none;
}

#form {
    width: 100%;
    height: 10%;
    top: 90%;
    position: fixed;
}